/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

.light-theme {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
  }
  
  .dark-theme {
    --ion-background-color: #1e1e1e;
    --ion-text-color: #ffffff;
  }

  

  .header .light-theme {
    --ion-background-color: #ffffff !important;
    --ion-text-color: #000000 !important;
    --ion-toolbar-background: #ffffff !important;
  }

    .header .dark-theme {
        --ion-background-color: #1e1e1e;
        --ion-text-color: #ffffff;
    }
  
  .skeleton-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .toggle .light-theme {
    --ion-color-thumb: #000000 !important;
    --ion-color-track: #d1d1d1 !important;
  }
  
  .toggle .dark-theme  {
    --ion-color-thumb: #ffffff !important;
    --ion-color-track: #4a4a4a !important;
  }

  
  
.light-theme .form-item {
    --ion-background-color: #ffffff !important; 
    --ion-color: #000000 !important; 
  }
  
  
  .dark-theme .form-item {
    --ion-background-color: #1e1e1e !important; 
    --ion-color: #ffffff !important; 
  }
  
  
  

  
  
  .light-theme .ion-card {
    --ion-background-color: #ffffff!important;
    --ion-text-color: #000000!important;
    
  }

    .dark-theme .ion-card {
        --ion-background-color: #1e1e1e!important;
        --ion-text-color: #ffffff!important;
    }

   

    .dark-theme .card-title {
        color: #ffffff!important;
        

    }

    .dark-theme .input-field {
        color: #ffffff;
        
    }
    .active {
      border-radius: 5px;
    }

    .dark-theme .active {
        background-color: grey;
    }

    .light-theme .active {
        background-color: rgb(83, 83, 241);
    }

    
    

    .error-message {
      color: red;
      text-align: center;
    }

   

    /* .hidden {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    } */
    


   