
   /* .ion-item {
    margin-bottom: 120px!important; 
    padding-bottom: 8px;
    border: 10px solid blue;
  } */

   /* .button-logout {
    margin: 40px auto;
   } */

   .form-label  {
    margin-bottom: 10px!important;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    /* background-color: white!important; */
    }

    .card-title {
    margin-bottom: 15px;
    /* color: white; */
      
    }

    h1 {
      text-align: center;
    }
    
    .ion-padding {
     margin-bottom: 40px;
    }

