.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}
.input-field {
  display: block;
  width: 98%;
  padding: 100px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(11, 11, 227);
}
.button-login {
  color: white;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.button-register {
  display: flex;
  width: 33.5%;
  margin: 20px 8px;
}

.login-parag {
  display: inline;
  margin-top: 20px;
  margin-left: 9px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .button-register {
    width: 96%;
  }
}
